<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jcw.camo_server.mapper.CouponMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="couponId">
        INSERT INTO coupon (coupon_userstamp, user_id, cafe_id)
        VALUES (#{couponUserstamp}, #{userId}, #{cafeId});
    </insert>

    <select id="findCoupon" resultType="jcw.camo_server.entity.Coupon">
        SELECT *
        FROM coupon
        WHERE user_id = #{userId}
          AND cafe_id = #{cafeId};
    </select>

    <select id="findByUser" resultType="jcw.camo_server.dto.coupon.CouponListDTO">
        SELECT cafe.cafe_id, cafe.cafe_name, cafe.cafe_address, cafe.cafe_reward, cafe.cafe_rewardstamp, coupon.coupon_userstamp
        FROM cafe, coupon
        WHERE cafe.cafe_id=coupon.cafe_id AND coupon.user_id = #{userId}
        ORDER BY coupon.coupon_userstamp DESC;
    </select>

    <update id="updateCoupon" useGeneratedKeys="true" keyProperty="couponId">
        UPDATE coupon
        SET coupon_userstamp = #{couponUserstamp}
        WHERE coupon_id = #{couponId};
    </update>

</mapper>
